.Block {
  height: 450px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}

.TodoTitle {
  font-size: 20px;
  font-style: italic;
}
.TodoDeadline {
  font-size: 18px;
  color: rgb(227, 227, 57);
}
.TodoDescription {
  width: 300px;
  overflow-wrap: break-word;
}

.TodoList {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
